@import url('../assets/fonts/Bahnschrift Regular.ttf');

*{
  --font1:Bahnschrift;
  font-family: var(--font1);

}

.hero_section {
  width: 100%;
  height: 80vh;
  /* background-color: red; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../img/bg.jpg");
  background-position: center center;
  background-size: cover;
}

.hero_bg {

    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.box_shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.nav_shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background: rgb(255, 255, 255);
  height: 100px !important;
}

.height {
  height: 50vh;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 22px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
  background: rgb(95, 95, 255);
}

.med_img{
    height: 150px;
    width: 100%;
}

.my_card {
	width: 200px!important;
	height: 320px!important;
}

.my_card:hover {
	transform:translateY(-10px);
  transition: transform .4s;
  
}


.logo{
	width: 120px;
	height: 100%;
}

.btn_details{
	width: 100%;
}

.card-body p{
  color: #9e9d9d;
  margin: 0;
} 

.card-body h5{
  color: #585858;
  margin: 0;
  margin-top: 3px;
} 

.details_image {
	width: 200px;
	height: 150px;
}

.lSAction > a {
	background-color: #010101;
	border-radius: 50%;
}

.asteriskField {
  display: none;
}


.form-group{
  margin-bottom: 30px;
  
}

.login_div{

  border-radius: 5px;
}

.login_div div{
  display: flex;
  justify-content: center;


}

.login_div div i {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 49px;
	background: #55c7ff;
	color: white;
}
