{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>

    <link type="text/css" rel="stylesheet" href="{% static 'assets\lightslider-master\dist\css\lightslider.css' %}" />                  

    
    <link
      rel="stylesheet"
      href="{% static 'assets\bootstrap-5.0.2-dist\css\bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets\fontawesome-free-5.15.4-web\css\all.min.css' %}"
    />
    <script src="{% static 'assets\bootstrap-5.0.2-dist\js\bootstrap.min.js' %}"></script>
    {% block css %}{% endblock css %}
  </head>
  <body>
    <nav class="navbar nav_shadow navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand ms-5" href="{% url 'homeView' %}"><img class='logo' src="{% static 'img/logo.png' %}" alt="Medicine Library" srcset=""></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto me-5">
            <li class="nav-item nav_search">
              <div class="search">
              <form method='get' action='{% url "searchView" %}'>

                <i class="fas fa-search"></i>
                <input
                  name='q'
                  type="text"
                  class="form-control"
                  placeholder="Search for a medicine.."
                  value=''
                />
                <button class="btn btn-primary">Search</button>
              </form>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'homeView' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'forumView' %}">Forum</a>
            </li>
            
            {% if request.user.is_authenticated  %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logoutView' %}">Logout</a>
            </li>
            <li class="nav-item">
            <a class="nav-link position-relative btn btn-outline-success disabled text-capitalize" href="{% url 'logoutView' %}">{{request.user}}
              <span class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle">
                <span class="visually-hidden">New alerts</span>
              </span>
            </a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signupView' %}">Sign Up</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'loginView' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block body %}{% endblock body %}
    {% block script %}{% endblock script %}
  </body>
</html>


