{% extends 'navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ques.question}}{% endblock title %}

{% block css %}
<style>
.nav_search{
  display: none;
}
</style>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock css %}

{% block body %}
<div class="container">

<div class='row h-100 shadow '>
  <div class="col-lg-8  offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 my-2 mt-5">
      <!-- Card-->
      <div class="card rounded-sm shadow ">
        <div class="card-header bg-info">Question</div>
        <div class="card-body p-lg-4 p-sm-1 ">
          <h4 class="text-primary">{{ques.question}}</h4>
          <p>Asked by - {{ques.user}}</p>
          <p class='small'>{{ques.date_added}}</p>
        </div>
      </div>
    </div>

    {% for ans in answer %}
    <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1 my-2">
      <!-- Card-->
      <div class="card rounded -sm border-0">
        <div class="card-body p-lg-4 p-sm-1 ">
        <div class='row ans_row'>
            <div class='col-1'>
                <i class='fas fa-user'></i>
            </div>
            <div class='col-11'>
                <h5 class="">{{ans.user}}</h5></p>
                <p class='small'>{{ans.date_added}}
            </div>
        </div>
          <p class="text-dark mt-3 ms-5">{{ans.answer}}</p>
        </div>
      </div>
    </div>
    {% endfor %}


    <div class='col-lg-8 offset-lg-2 col-md-8 offset-md-2  col-sm-8 offset-sm-2 p-5  login_div '>
      <form class='ask_question' {% url 'ques_detailsView' ques.id %} method="POST">
    {% csrf_token %}
        <textarea name="answer_input" id="answer_input" class='form-control my-4' placeholder='Give a answer..' cols="30" rows="4"></textarea>
        <input type="hidden" name='qid' value={{ques.id}}>
        {% if  request.user.is_authenticated %}
        <button class='btn btn-info text-white w-100 mb-5 ' type="submit">Submit</button endif %}ton>
        {% else %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <h4 class=''>Please <a href="{% url 'loginView' %}">Login</a> to give the answer</h4>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

        <button class='btn btn-info text-white w-100 mb-5 disabled ' type="submit">Submit</button endif %}ton>
        {% endif %}

    </div>
    
  </form>

</div>

</div>
</div>

{% endblock %}